[Desktop Entry]
Type=Application
Name=TrueDown
Comment=Native download manager
Exec=TrueDown
Icon=truedown
Terminal=false
Categories=Network;FileTransfer;
StartupNotify=false
